{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./src"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": 0,
    "no-alert": 0,
    "no-underscore-dangle": 0,
    "react/jsx-one-expression-per-line": 0,
    "object-curly-newline": [
      2,
      {
        "ObjectExpression": {
          "multiline": true,
          "minProperties": 1
        },
        "ObjectPattern": {
          "multiline": true,
          "minProperties": 4
        },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 4,
          "consistent": true
        }
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      2,
      {
        "components": [
          "Link",
          "NavLink"
        ],
        "specialLink": [
          "hrefLeft",
          "hrefRight",
          "to"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": [
          "Label"
        ],
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        },
        "allowChildren": false
      }
    ]
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "extends": "airbnb"
}
