.section {
  margin-bottom: 28rem;
  position: relative;

  &--center {
    text-align: center;
  }

  @include respond('smallest') {
    margin-bottom: 13rem;
  }

  &:last-of-type {
    margin-bottom: 14rem;

    @include respond('smallest') {
      margin-bottom: 10rem;
    }
  }
}
