$color-primary-one: rgb(86, 96, 226);
$color-primary-two: rgb(208, 68, 121);

$color-secondary: rgb(255, 255, 255);
$color-secondary-dark: rgb(243, 248, 246);

$color-tertiary: rgb(144, 151, 170);
$color-tertiary-light: rgb(181, 185, 198);
$color-tertiary-dark: rgb(46, 51, 65);
